<div class="min-h-screen">
  <div class="flex flex-col justify-center mt-20">
    <h1 class="text-5xl font-semibold text-slate-700 text-center"><%= t('.title') %></h1>
    <p class="mt-4 text-lg text-gray-700 text-center">訪れた美術展やイベントのポスター写真を投稿して</p>
    <p class="text-lg text-gray-700 text-center">アートを楽しむためのアプリです</p>
  </div>

  <!-- 使い方カード -->
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">

      <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow xl:p-8">
        <h3 class="mb-4 text-2xl font-semibold">ポスター写真を投稿</h3>
          <p class="text-lg">素敵な展示に出会えたら感想をシェア</p>
          <p class="text-lg">お気に入りの展示を皆に広めましょう</p>
        <div class="flex justify-center items-baseline my-8">
          <%= image_tag 'how_to_user_3.png'%>
        </div>
        <ul role="list" class="mb-8 space-y-4 text-left">
          <li class="flex items-center space-x-3">
            <span>・写真ポスト</span>
          </li>
          <li class="flex items-center space-x-3">
            <span>・展示情報登録</span>
          </li>
          <li class="flex items-center space-x-3">
            <span>・Xシェア機能</span>
          </li>
        </ul>
      </div>

      <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow xl:p-8">
        <h3 class="mb-4 text-2xl font-semibold">見たい展示を見つける</h3>
          <p class="text-lg">ポスト一覧やマップから興味のある展示を見つけてみましょう</p>
        <div class="flex justify-center items-baseline my-8">
          <%= image_tag 'how_to_user_1.png'%>
        </div>
        <ul role="list" class="mb-8 space-y-4 text-left">
          <li class="flex items-center space-x-3">
            <span>・気になるワードで見つける</span>
          </li>
          <li class="flex items-center space-x-3">
            <span>・開催中の展示を見つける</span>
          </li>
          <li class="flex items-center space-x-3">
            <span>・現在地近くの展示を見つける</span>
          </li>
        </ul>
      </div>

      <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow xl:p-8">
        <h3 class="mb-4 text-2xl font-semibold">眺めるだけでもOK!</h3>
          <p class="text-lg">ポスターはイベントの魅力がギュッとつまった一枚です</p>
          <p class="text-lg">眺めるだけでもアートを楽しめるかも</p>
        <div class="flex justify-center items-baseline my-8">
          <%= image_tag 'how_to_user_2.png'%>
        </div>
        <ul role="list" class="mb-8 space-y-4 text-left">
          <li class="flex items-center space-x-3">
            <span>・ログインなしでポスト一覧を閲覧可能</span>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <!-- 注意事項 -->
  <div class="flex flex-col justify-center mt-5 mb-20">
    <p class="text-2xl font-semibold text-slate-700 text-center">注意事項</p>
    <p class="mt-3 text-gray-700 text-center">写真撮影をするときは、イベント主催者の指示に従い</p>
    <p class="text-gray-700 text-center">ルールとマナーを守って撮影しましょう。</p>
    <p class="text-gray-700 text-center">撮影禁止区域での撮影や、撮影禁止指示のある展示物の</p>
    <p class="text-gray-700 text-center">写真を撮影・投稿することはおやめください。</p>
  </div>


</div>
