<div class="h-screen w-screen flex flex-col justify-center items-center">
  <h1 class="text-5xl font-semibold text-cyan-900"><%= t('.title') %></h1>
  <p class="mt-4 text-lg text-gray-700 text-center">訪れた美術展やイベントのポスター写真を投稿して</p>
  <p class="text-lg text-gray-700 text-center">アートを楽しむためのアプリです</p>
</div>