<% if object && object.errors.any? %>
  <div id="error_explanation" class="bg-red-500 text-white p-4 rounded">
    <ul class="list-disc list-inside">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>