<% content_for(:title, t('.title')) %>
<div class="flex flex-col justify-start min-h-screen">
  <div class="max-w-full mx-auto px-4 mt-10 mb-20">
    <div class="flex flex-col">
      <div class="w-full mx-auto">
        <div class="card bg-base-100 w-96 max-w-full shadow-xl mt-5 p-4">
          <h1 class="card-title flex justify-center"><%= t('.title') %></h1>
          <%= render "form", post: @post %>
      </div>
    </div>
  </div>
</div>