<div class="max-w-4xl mx-auto pt-3">
  <div class="flex">
    <div class="w-full lg:w-10/12 lg:mx-auto">
      <!-- 検索フォーム -->
      <form>
        <div class="flex mb-3">
          <input class="border rounded-l px-4 py-2 w-full" placeholder="検索ワード" type="search"/>
          <button type="submit" class="bg-blue-500 text-white rounded-r px-4 py-2">検索</button>
        </div>
      </form>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="flex flex-wrap">
    <div class="w-full">
      <div class="flex flex-wrap">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <div class="mb-3 text-gray-600">ポストがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
