<% content_for(:title, t('.title')) %>
<div class="max-w-6xl mx-auto mt-3 pt-5 min-h-screen">
  <div class="flex">
    <div class="w-full lg:w-10/12 lg:mx-auto">
      <!-- 検索フォーム -->
      <%= render 'search_form', q: @q, url: posts_path %>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="flex flex-wrap justify-center mt-4">
    <div class="w-full">
      <div class="flex flex-wrap justify-center mb-4">
        <% if @posts.present? %>
          <%= render @posts, class: "w-64" %>
        <% else %>
          <div class="mb-3 text-gray-600">ポストがありません</div>
        <% end %>
      </div>
    </div>
  </div class="flex justify-center">
  <%= paginate @posts %>
</div>
