<% content_for(:title, t('.title')) %>
<div class="max-w-6xl mx-auto mt-3 pt-5 min-h-screen">
  <h1 class="text-2xl mb-4 text-center"><%= t('.title') %></h1>
  <div class="flex flex-wrap justify-center mt-4">
    <div class="w-full">
      <div class="flex flex-wrap justify-center mb-4">
        <% if @posts.present? %>
          <%= render partial: "posts/post", collection: @posts, class: "w-64" %>
        <% else %>
          <div class="mb-3 text-gray-600">ポストがありません</div>
        <% end %>
      </div>
    </div>
  </div class="flex justify-center">
</div>
