.haikeigazou {
  background-image: url(background.jpg);
  background-size:cover;
}

.loading-overlay {
  position: fixed; /* 画面全体に表示 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 他のコンテンツの上に表示 */
}
